{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Login</title>
	<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		body{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: 'SF Pro Display','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			min-height: 100vh;
		}
		form{
			max-width: 400px;
		}
		.btn-form-submit{
			color: #fff;
			background: var(--red);
			border: 1px solid var(--red);
			height: calc(28px + 9px);
			border-radius: 8px;
		}
	</style>
</head>
<body>
<div class="container mt-3">
<center>
	<div id="app_login">
<form method="POST" class="login-form">
	{% csrf_token %}
		<h3>Login to <wbr>AskADev &rarr;</h3>
		{{ form|crispy }}<br/>
		<vs-button danger filled block size="large">
			[[message]]
		</vs-button>
		</button>
		<p>&nbsp;</p>
		<h5>
			Don't Have an Account?
		</h5>
		<h5 style="margin-top: 0px;">
			<vs-button href="/register/" danger flat >
				Register
			</vs-button>
		</h5>
</form>
	</div>
</center>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
<script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
<script type="text/javascript">
	window.onload = function(){
		document.querySelector('#id_username').autocomplete = 'off';
		document.querySelector('#id_password').autocomplete = 'off';
	}
	const app_login = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app_login',
		data: {
			message: 'Login'
		},
		methods: {
			changeMessage: function(){
				let uname = document.querySelector("#id_username").value;
				let passwd = document.querySelector("#id_password").value;
				if (uname!=='' && passwd !== ''){
				setTimeout(()=>this.message = "Logging In", 250)
			}
			}
		}
	})
</script>
</body>
</html>