{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <style type="text/css">
		body{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: 'SF Pro Display','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			min-height: 100vh;
		}
		form{
			max-width: 400px;
		}
		.btn-form-submit{
			color: #fff;
			background: var(--red);
			border: 1px solid var(--red);
			height: calc(28px + 9px);
			border-radius: 8px;
		}
	</style>
</head>
<body>
<div id="app_register">
<form method="POST" class="login-form">
	{% csrf_token %}
	<center>
		<h2>Register to <wbr>AskADev &rarr;</h2>
		{{ form|crispy }}
		<vs-button danger filled block size="large">[[message]]</vs-button>
		<p></p>
		<p>[[message_success]]</p>
		<p>&nbsp;</p>
		<h5>
			Already Have an account?
		</h5>
		<h5 style="margin-top: -3px;">
			<vs-button danger href="/login/" flat size="large">
				Login
			</vs-button>
		</h5>
	</center>
</form>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
<script type="text/javascript">
	window.onload = function(){
		document.querySelector('#id_username').autocomplete = 'off';
		document.querySelector('#id_password1').autocomplete = 'off';
		document.querySelector('#id_password2').autocomplete = 'off';
		document.querySelector('#hint_id_username').style.display='none';
		document.querySelector('#hint_id_password1').style.display='none';
	}
	const app_login = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app_register',
		data: {
			message: 'Register',
			message_success: ''
		},
		methods: {
			changeMessage: function(event){
				let uname = document.querySelector("#id_username").value;
				let passwd1 = document.querySelector("#id_password1").value;
				let passwd = document.querySelector("#id_password2").value;
				if (uname!=='' && passwd !== '' && passwd1 !== ''){
					if(passwd1.length < 8){
						setTimeout(()=>this.message_success = "Password should be atleast 8 characters long.");
						return;
					}
					if(passwd === passwd1){	
						setTimeout(()=>this.message_success = "Registering and Logging You In", 250)
					}
					else{
						setTimeout(()=>this.message_success = "Both Password Fields do not match", 250)
					}
				}
			}
		}
	})
</script>
</body>
</html>