{% extends "base.html" %}
{% block body %}
{% if request.user.is_authenticated %}
    {% for i in q_list %}
        <h6 style="font-size: 28px;">{{ i.title }}<br/><span style="font-size: 20px;">
            You asked this on 
            {{ i.asked_on }}</span>
        </h6>
        <p style="margin-block-end: 0px;"></p>
        <div style="font-size: 24px;">
            <ion-icon name="heart" style="color: var(--danger)"></ion-icon>
            <span style="position: absolute;margin-top: -3px;margin-left: 3px;">{{i.likes}} Likes</span>
        </div>
        <p>
        {% for t in i.tags.all %}
             <div class="badge badge-pill badge-{{t.bg_color}}">{{t.tag}}</div>
        {% empty %}
        <div class="badge badge-pill badge-dark">No Tags</div>
        {% endfor %}
    </p>
    <p><a href="/{{i.user}}/questions/{{i.url}}">Go To Question &rarr;</a></p>
    <hr>
    {% empty %}
    <h4>No Questions!!!</h4>
    {% endfor %}
    <br/>
{% else %}
<h1>AskaDeveloper 👨‍💻</h1>
<h3>Get your questions🤔 answered by Developers</h3>
<h4>Why AskaDev?</h4>
<ul>
	<li>Ask your queries and get solutions from other developers.🤝</li>
	<li>I hope this may benefit you.🙏</li>
	<li>This website is only for programmers.👨‍💻</li>
</ul>
<h4>It's Still Under Developement</h4>
<ul>
	<li>Got a bug? DM me on instagram.🗨️</li>
</ul>
<h4>To Do✍️</h4>
<ul>
	<li>Add Likes / Dislikes feature on Answers(AJAX and Django Views)</li>
	<li>A proper implementation of Top Developers View.(Currently A Developer who answers the most is trending😅)</li>
	<li>Integrate a WYSIWYG Editor for Question and Answers</li>
</ul>
<h4>Technologies Used 💻</h4>
<ul>
	<li>HTML</li>
	<li>CSS and Bootstrap</li>
	<li>JavaScript and jQuery + select2 at some places</li>
	<li>Django(Python)</li>
	<li>Twemoji For Emoji Rendering</li>
	<li>Converting Images to Base64 URL.</li>
</ul>
<h4>Got Any Ideas 💻</h4>
<ul>
	<li>DM me on Instagram instagram 🗨️</li>
	<li>Email me 📧</li>
</ul>
<p></p>
<p></p>
<div class="text-center  d-flex justify-content-center">
	<div class="row" style="max-width: 800px;">
			<a href="/login/" class="btn-login col">Login</a>
    		&nbsp;
			<a href="/register/" class="btn-login-outline col">Register</a>
	</div>
</div>
<p></p>
{% endif %}
{% endblock body %}
