{% extends "base.html" %}
{% block body %}
{% if request.user.is_authenticated %}
<div id="app-home" >
	{% for i in q_list %}
	<div class="card mx-auto" style="max-width: 1100px;">
		<div class="card-body">
		  <h4 class="card-title font-weight-bold">{{i.title}}</h4>
		  <h4><i class="bx bxs-heart" style="color: rgba(var(--vs-danger));"></i><span style="margin-top: -1.5px;margin-left:3px;position: absolute;">{{i.likes}} Likes</span></h4>
		  <hr class="my-4">
		  <p class="lead">
			  <span style="position: absolute;">By</span>
			  <vs-button 
			  href="/{{i.user}}"
			  :style="{marginTop: '0px',marginLeft: '25px',fontSize: '18px',display: 'inline-block'}" transparent size="mini">
				<i class="bx bx-user"></i>&nbsp;{{i.user}}
			</vs-button>
			<span style="position: absolute;">on {{i.asked_on.date}}</span>
		</p>
		<vs-button href="/{{i.user}}/questions/{{i.url}}" :style="{fontSize: '18px'}" size="small">
			View Question
		</vs-button>
		</div>
	  </div>
	{% empty %}
	<h4>No Question Askeds</h4>
	<vs-button danger filled size="large" href="/questions/create">
		Ask a Question
	</vs-button>
	{% endfor %}
	<br/>
</div>
{% else %}
<div id="app-home">
<h2>AskaDeveloper 👨‍💻</h2>
<h3>Get your questions🤔 answered by Developers</h3>
<hr>
<h4 id="why_askadev"><a 
	style="text-decoration: none;"
	href="#why_askadev">#</a>  Why AskaDev?</h4>
<ul>
	<li>Ask your queries and get solutions from other developers.🤝</li>
	<li>I hope this may benefit you.🙏</li>
	<li>This website is only for programmers.👨‍💻</li>
</ul>
<hr>
<h4 id="under_dev">
	<a style="text-decoration: none;" href="#under_dev">#</a> 
	It's Still Under Developement</h4>
<ul>
	<li>Got a bug? DM me on instagram.🗨️</li>
</ul>
<hr>
<h4 id="todo"><a href="#todo" style="text-decoration: none;">#</a>	To Do✍️</h4>
<ul>
	<li>Add Likes / Dislikes feature on Answers(AJAX and Django Views)</li>
	<li>A proper implementation of Top Developers View.(Currently A Developer who answers the most is trending😅)</li>
	<li>Integrate a WYSIWYG Editor for Question and Answers</li>
</ul>
<hr>
<h4 id="tech_used"><a href="#tech_used">#</a> Technologies Used 💻</h4>
<ul>
	<li>HTML</li>
	<li>CSS and Bootstrap</li>
	<li>JavaScript and jQuery + select2 at some places</li>
	<li>Django(Python)</li>
	<li>Twemoji For Emoji Rendering</li>
	<li>Converting Images to Base64 URL.</li>
</ul>
<hr>
<h4 id="ideas"><a href="#ideas" style="text-decoration: none;">#</a> Got Any Ideas 💻</h4>
<ul>
	<li>DM me on Instagram instagram 🗨️</li>
	<li>Email me 📧</li>
</ul>
<hr>
<p></p>
<p></p>
<div class="text-center  d-flex justify-content-center">
	<div class="row" style="max-width: 800px;">
		<vs-row vs-w="12">
			<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="6" vs-sm="12" vs-xs="12" >
				<vs-button size="large" block danger filled href="/login/">
					<i class="bx bxs-log-in"></i>&nbsp;Login
				</vs-button>
			</vs-col>
			<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="6" vs-sm="12" vs-xs="12">
				<vs-button danger transparent href="/register/" block size="large">
					<i class='bx bx-user-plus'></i>&nbsp;Register	
				</vs-button>	
			</vs-col>
		  </vs-row>
	</div>
</div>
<p></p>
</div>
{% endif %}
{% endblock body %}
{% block script %}
<script>
const app_home = new Vue({
	el: '#app-home',
	data: {
		width: '100px',
	},
	delimitors: ['[[', ']]'],
});
</script>
{% endblock %}