{% extends "base.html" %}
{% block body %}
{% if request.user.is_authenticated %}
<div id="app-home">
	{% for i in q_list %}
	<vs-row vs-justify="center">
		<vs-col type="flex" vs-justify="center" vs-align="center" vs-w="12">
		  <vs-card actionable class="cardx">
			<div slot="header">
			  <h4>
				  {{i.title}}
			  </h4>
			  <h5>You asked this on {{ i.asked_on }}</h5>
			 <h5>
				<vs-icon color="danger" icon="favorite"></vs-icon> 
				<span style="position:absolute;margin-left: 3px;">{{ i.likes }} Likes</span>
		  	</h5>
				<p>
					{% for t in i.tags.all %}
						<vs-chip color="{{ t.bg_color }}">{{t.tag}}</vs-chip>
					{% empty %}
					<div class="badge badge-pill badge-dark">no tags</div>
					{% endfor %}
				</p>
			</div>
			<div>
			</div>
			<div slot="footer">
			  <vs-row vs-justify="flex-end">
				<vs-button 
				color="#54cdfb"
				gradient-color-secondary="#5252e8"
				type="gradient"
				href="/{{i.user}}/questions/{{i.url}}/"
				>
					View Question
				</vs-button>
			  </vs-row>
			</div>
		  </vs-card>
		</vs-col>
	  </vs-row>
	  <p></p>
	{% empty %}
	<h4>No Question Askeds</h4>
	<vs-button color="danger" icon="add" type="filled">
		Ask a Question
	</vs-button>
	{% endfor %}
	<br/>
</div>
{% else %}
<div id="app-home">
<h1>AskaDeveloper 👨‍💻</h1>
<h3>Get your questions🤔 answered by Developers</h3>
<h4>Why AskaDev?</h4>
<ul>
	<li>Ask your queries and get solutions from other developers.🤝</li>
	<li>I hope this may benefit you.🙏</li>
	<li>This website is only for programmers.👨‍💻</li>
</ul>
<h4>It's Still Under Developement</h4>
<ul>
	<li>Got a bug? DM me on instagram.🗨️</li>
</ul>
<h4>To Do✍️</h4>
<ul>
	<li>Add Likes / Dislikes feature on Answers(AJAX and Django Views)</li>
	<li>A proper implementation of Top Developers View.(Currently A Developer who answers the most is trending😅)</li>
	<li>Integrate a WYSIWYG Editor for Question and Answers</li>
</ul>
<h4>Technologies Used 💻</h4>
<ul>
	<li>HTML</li>
	<li>CSS and Bootstrap</li>
	<li>JavaScript and jQuery + select2 at some places</li>
	<li>Django(Python)</li>
	<li>Twemoji For Emoji Rendering</li>
	<li>Converting Images to Base64 URL.</li>
</ul>
<h4>Got Any Ideas 💻</h4>
<ul>
	<li>DM me on Instagram instagram 🗨️</li>
	<li>Email me 📧</li>
</ul>
<p></p>
<p></p>
<div class="text-center  d-flex justify-content-center">
	<div class="row" style="max-width: 800px;">
		<vs-row vs-w="12">
			<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="6" vs-sm="12" vs-xs="12" >
				<vs-button color="danger" type="filled" icon="login" href="/login/">
					Login
				</vs-button>
			</vs-col>
			<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="6" vs-sm="12" vs-xs="12">
				<vs-button color="danger" type="flat" icon="person_add" href="/register/">
					Register	
				</vs-button>	
			</vs-col>
		  </vs-row>
	</div>
</div>
<p></p>
</div>
{% endif %}
{% endblock body %}
{% block script %}
<script>
const app_home = new Vue({
	el: '#app-home',
	data: {
		width: '100px',
	},
	delimitors: ['[[', ']]'],
});
</script>
{% endblock %}