{% extends "base.html" %}
{% load static %}
{% block body %}
<style type="text/css">
	.follow-btn, .follow-btn:focus{
		background: white;
		border: 2px solid rgba(var(--vs-danger));
		color: rgba(var(--vs-danger));
		padding: 4.5px 16px;
		border-radius: 8px;
		transition: 0.3s;
		outline: 0;
	}
	.follow-btn:hover{
		background: rgba(var(--vs-danger));
		color: white;
		text-decoration: none;
	}
	.following-btn, .following-btn:focus{
		background: rgba(var(--vs-danger));
		border: 2px solid rgba(var(--vs-danger));
		color: white;
		padding: 4.5px 16px;
		border-radius: 8px;
		transition: 0.3s;
		outline: 0;
	}
	.following-btn:hover{
		background: white;
		color: rgba(var(--vs-danger));
		text-decoration: none;
	}
	.table thead th, .table td{
		border: none;
		padding: 2px;
		vertical-align: top;
	}
	.badge{
		padding: 4px 18px;
		font-size: 16px;
		margin: 2px;
	}
	.skills{
		margin-top: 2rem;
	}
	.skills p{
		margin-bottom: 5px;
		font-size: 24px;
	}
	.active-pp{
		width: 14px;
		height: 14px;
		margin-top: -2px;
		margin-left: -15px;
		border-radius: 50%;
		position: absolute;
		background-color: #11e743;
		display: inline-block;
	}
</style>
<div id="app_profile">
<div class="container">
		<h4 id="profile_picture" style="
		display: inline-block;">
			<img  style="width: 50px;height: 50px;border-radius: 16px;" 
			src="{{profile.profile_picture.url}}" 
			class="img-fluid propicture">
			<div class="active-pp"></div>
			<span class="ml-1">{{ profile.user }}</span></h4>
		<span class="float-right" style="margin-top: 10px;">
			{% if sameUser %}
				<vs-button 
				href="{% url 'edit_profile' pk=user.id %}"
				color="danger"
				v-bind:style="{fontSize: '14px', border: 'none', fontWeight: '700',outline: 'none'}"
				size="small"
				type="border"
				v-on:click="message = 'Redirecting'"
				>
					[[message]]
				</vs-button>	
			{% else %}
					<button v-bind:class="this.class" @click="followUser" id="follow_btn">[[follow_message]]</button>    	
			{% endif %}
		</span>
		<div class="bio" style="max-width: 400px;">
		<h6 style="font-size: 24px;margin-top: 1rem">Bio</h6>
		<span id="bio">
		{{ profile.bio | linebreaks }}
		{% if profile.website %}
		<a target="_blank" style="margin-top: -20px;position: absolute;" href="{{profile.website}}">{{ profile.website }}</a>
		{% endif %}
		</span>
		</div>
		<div class="skills">
			<p>Languages</p>
			{% for l in profile.languages.all %}
			<!-- <vs-chip color="{{l.bg_color}}" type="filled">
				{{l}}
			</vs-chip> -->
			<div class="badge badge-pill" style="background-color: {{l.bg_color}}; color: #fff;">{{l}}</div>
			{% endfor %}
		</div>
		<br/>
		<p></p>
		<table class="table text-center">
			<thead>
				<th style="width: 33vw;"class="text-center" >Questions Asked</th>
				<th style="width: 33vw;"class="text-center" ><span id="followers">Followers</span></th>
				<th style="width: 33vw;"class="text-center" ><span id="following">Following</span></th>
			</thead>
			<tr class="col">
				<td>{{questions.count}}</td>
				<td id="followers_count">{{profile.followers.count}}</td>
				<td>{{profile.follows.count}}</td>
			</tr>
		</table>
</div>

<hr style="border: 1px solid var(--red);margin-top: 3px;">
<div class="container">
	{% if sameUser %}
	<h3>Your Questions</h3>
	{% else %}
	<h3>{{profile.user}}'s Questions</h3>
	{%  endif %}
	{% for i in questions %}
	<div class="card mx-auto" style="max-width: 1100px;">
		<div class="card-body">
		  <h4 class="card-title font-weight-bold">{{i.title}}</h4>
		  <h4><i class="bx bxs-heart" style="color: rgba(var(--vs-danger));"></i><span style="margin-top: -1.5px;margin-left:3px;position: absolute;">{{i.likes}} Likes</span></h4>
		  <hr class="my-4">
		  <p class="lead">
			  <span style="position: absolute;">By</span>
			  <vs-button 
			  href="/{{i.user}}"
			  :style="{marginTop: '0px',marginLeft: '25px',fontSize: '18px',display: 'inline-block'}" transparent size="mini">
				<i class="bx bx-user"></i>&nbsp;{{i.user}}
			</vs-button>
			<span style="position: absolute;">{{i.asked_on}}</span>
		</p>
		<vs-button href="/{{i.user}}/questions/{{i.url}}" :style="{fontSize: '18px'}" size="small">
			View Question
		</vs-button>
		</div>
	  </div>
		{% empty %}
			<h4>No Questions Asked</h4>
		{% endfor %}
</div>
</div>
<script type="text/javascript">
</script>
{% endblock %}
{% block script %}
<script>
const app_profile = new Vue({
	el: '#app_profile',
	delimiters: ['[[',']]'],
	data: {
		'message': 'Edit Profile',
		'following' : {{following}},
		'follow_message': "",
		'class': "",
		'follow_btn':document.querySelector('#follow_btn')
	},
	methods: {
		followUser: function(){
			if(this.following){
				// Unfollow
				this.follow_btn.disabled = true;
				axios.post(
					"/unfollow/{{profile.user}}",
					{"user":"{{profile.user}}"}
				).then((res) =>{
					var f_count = document.querySelector('#followers_count');
					f_count.innerText = parseInt(f_count.innerText) - 1;
					document.querySelector('#follow_btn').disabled = false;
				}).then((err) => {
					if (err !== undefined)alert(err);
				})
				this.following = false;
				this.follow_message = "Follow"
				this.class = "follow-btn"
			}
			else{
				document.querySelector("#follow_btn").disabled = true;
				axios.post(
					"/follow/{{profile.user}}",
					{"user":"{{profile.user}}"}
				).then((res) =>{
					var f_count = document.querySelector('#followers_count');
					f_count.innerText = parseInt(f_count.innerText) + 1;
					document.querySelector('#follow_btn').disabled = false;
				}).then((err)=>{
					if(err !== undefined) alert(err);
				})
				this.following = true;
				this.follow_message = "Following"
				this.class = 'following-btn'
			}
		}
	}
})
window.onload =  function(){
	let following = {{following}};
	if(following){
		app_profile.follow_message = "Following";
		app_profile.class = "following-btn";
	}
	else{
		app_profile.follow_message = "Follow"
		app_profile.class = "follow-btn"
	}
	twemoji.parse(document.body);
		var x = document.querySelectorAll('.emoji');
		for(let i=0;i<x.length;i++){
			const y = x[i];
			y.style.width = "1em"
			y.style.marginLeft = "3px";
			var str = y.src;
  			var res = str.replace("https://twemoji.maxcdn.com/v/13.0.1/72x72/", "https://github.githubassets.com/images/icons/emoji/unicode/");
			y.src = res;
		}
}
</script>
{% endblock %}