{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<form method="POST" class="form-group">
    {{form|crispy}}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Answer">
</form>
{% endblock %}
{% block script %}
<script>
     const md = new SimpleMDE({
        element: document.querySelector('#id_answer'),
    })
    document.querySelector('#id_answer').required = "";
    document.querySelector(".CodeMirror").style.textAlign = "left";
    document.querySelector(".editor-preview-side").style.textAlign = "left";
</script>
{% endblock %}