{% extends 'base.html' %}
{% block body %}
<div id="app-trending">
{% for i in object_list %}
<vs-row vs-justify="center">
	<vs-col type="flex" vs-justify="center" vs-align="center" vs-w="12">
	  <vs-card actionable class="cardx">
		<div slot="header">
		  <h4>
			  {{i.title}}
		  </h4>
		  <h5>Asked by
			  <vs-button href="/{{i.user}}" size="small" type="line" line-origin="left">
				  {{ i.user }} 
				</vs-button>
				on {{ i.asked_on }}
		</h5>
		 <h5>
			<vs-icon color="danger" icon="favorite"></vs-icon> 
			<span style="position:absolute;margin-left: 3px;">{{ i.likes }} Likes</span>
		  </h5>
			<p>
				{% for t in i.tags.all %}
					<vs-chip color="{{ t.bg_color }}">{{t.tag}}</vs-chip>
				{% empty %}
				<div class="badge badge-pill badge-dark">No tags</div>
				{% endfor %}
			</p>
		</div>
		<div>
		</div>
		<div slot="footer">
		  <vs-row vs-justify="flex-end">
			<vs-button 
			color="#54cdfb"
			gradient-color-secondary="#5252e8"
			type="gradient"
			href="/{{i.user}}/questions/{{i.url}}/"
			>
				View Question
			</vs-button>
		  </vs-row>
		</div>
	  </vs-card>
	</vs-col>
  </vs-row>
  <p></p>
{% empty %}
<h4>No Questions Asked</h4>
<h5>Ask a Question now to get it trending</h5>
<vs-button color="danger" icon="add" type="filled" href="/questions/create">
	Ask a Question
</vs-button>
{% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
	const app_trending = new Vue({
		el: '#app-trending',
		data: {
		},
		delimitors: ['[[', ']]'],
	})
</script>
{% endblock %}