{% extends 'base.html' %}
{% block body %}
<div id="app-trending">
{% for i in object_list %}
<div class="card mx-auto" style="max-width: 1100px;">
	<div class="card-body">
	  <h4 class="card-title font-weight-bold">{{i.title}}</h4>
	  <h4><i class="bx bxs-heart" style="color: rgba(var(--vs-danger));"></i><span style="margin-top: -1.5px;margin-left:3px;position: absolute;">{{i.likes}} Likes</span></h4>
	  <hr class="my-4">
	  <p class="lead">
		  <span style="position: absolute;">By</span>
		  <vs-button 
		  href="/{{i.user}}"
		  :style="{marginTop: '0px',marginLeft: '25px',fontSize: '18px',display: 'inline-block'}" transparent size="mini">
			<i class="bx bx-user"></i>&nbsp;{{i.user}}
		</vs-button>
		<span style="position: absolute;">{{i.asked_on.date}}</span>
	</p>
	<vs-button href="/{{i.user}}/questions/{{i.url}}" :style="{fontSize: '18px'}" size="small">
		View Question
	</vs-button>
	</div>
  </div>{% empty %}
<h4>No Questions Asked</h4>
<h5>Ask a Question now to get it trending</h5>
<vs-button color="danger" icon="add" type="filled" href="/questions/create">
	Ask a Question
</vs-button>
{% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
	const app_trending = new Vue({
		el: '#app-trending',
		data: {
		},
		delimitors: ['[[', ']]'],
	})
</script>
{% endblock %}