{% extends 'base.html' %}

{% block body %}
<style>
    .like-btn, .like-btn:focus{
        background: transparent;
        border: none;
        outline: 0;
    }
</style>
<div class="container">
    <h6 style="font-size: 28px;">{{ question.title }}<br/><span style="font-size: 20px;">
        Asked by <a href="/{{question.user}}">{{ question.user }}</a> on 
        {{ question.asked_on }}</span>
    </h6>
    <div style="font-size: 24px;">
        {% if liked %} 
				<button class="like-btn" id="addLike">
					<i class="fas fa-heart"  style="font-size: 1.5rem;color:var(--red); margin-top: -10px;"></i>
				</button>
				{% else %}
				<button class="like-btn" id="addLike">
					<i class="far fa-heart" style="font-size: 1.5rem;color:var(--red);margin-top: -5px;"></i>
				</button>
				{% endif %}
        <span style="position:absolute">
            {% ifequal question.likes 1 %}
                <span id="likes_count">{{ question.likes }} Like</span>
            {% else %}
                <span id="likes_count">{{ question.likes }} Likes</span>
            {% endifequal %}
        </span>
    </div>
    <p style="margin-block-end: 0px;">
        {% for t in question.tags.all %}
             <div class="badge badge-pill badge-{{t.bg_color}}">{{t.tag}}</div>
         {% empty %}
         <div class="badge badge-pill badge-dark">No Tags</div>
        {% endfor %}
     </p>
    <div class="card">
        <div class="card-body" style="padding: 0.75rem;">
            <p>{{question.question|safe|linebreaks}}</p>
        </div>
        <div class="card-footer" style="padding: 0.75rem;">
            <a href="/{{user}}" class="btn btn-outline-danger">Visit Profile</a>
            <a href="/answer/{{question.url}}/" class="btn btn-danger">Answer</a>
        </div>
    </div>
</div>
<div class="container">
    <br/>
    <h3>Answers</h3>
    {% for a in answers %}  
    <div class="card">
        <div class="card-body" style="padding: 0.75rem;">
            <p>{{a.answer|safe|linebreaks}}</p>
        </div>
        <div class="card-footer" style="padding: 0.75rem;">
            <span style="font-size: 14px;">
                Answered By <a href="/{{a.answered_by}}">{{ a.answered_by }}</a> on 
                {{ a.answered_at }}
            </span>
        </div>
    </div>
    <span>&nbsp;</span>
    {% empty %}
    <h4>Nobody has answered this question yet</h4>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    document.querySelector('#addLike').onclick = function(){
		document.querySelector('#addLike').disabled = true
			var x = document.querySelector('.far') 
			if(x !== null){
				x.classList.remove('far')
				x.classList.add('fas')
				var x = document.querySelector('#likes_count').innerText;
					y = parseInt(x) +1
					if(y===1){
						document.querySelector("#likes_count").innerText = `${y} Like`;
					}
					else{
						document.querySelector("#likes_count").innerText = `${y} Likes`;
					}
			}
			else{
				var x = document.querySelector('.fas')
				x.classList.remove('fas')
				x.classList.add('far')
				var x = document.querySelector('#likes_count').innerText;
					y = parseInt(x) - 1;
					if(y===1){
						document.querySelector("#likes_count").innerText = `${y} Like`
					}
					else{
						document.querySelector("#likes_count").innerText = `${y} Likes`
					}
			}
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					document.querySelector('#addLike').disabled = false
				}
			};
			xhttp.open("POST", "/like/", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
			xhttp.send("question={{ question.url }}&user={{ request.user.username }}");
		}
</script>
{% endblock %}